---
import { SEO } from "astro-seo";
const { title, seoTitle, seoDesc } = Astro.props;
---

<head>
  <SEO title={seoTitle} description={seoDesc} />
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/master-keys-logo.jpg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
    rel="stylesheet"
  />
  <title>{title}</title>
</head>
